#project_title{

    max-width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 40px 0px 40px 0px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    /* flex: 33.333px; */
    /* border: 1px solid black; */
    text-align: center;
    margin: 20px 5 0px;
    gap: 50px;
    justify-content: center;
}
.project-container1:hover{
    transform: scale(1.05);
}
.project-container1{
    width: 300px;
    /* flex: 30.33px; */
    border: 1px solid rgba(0, 0, 0, 0.108);
 padding: 20px 0px;

   border-radius: 20px;
   background-color:rgba(220, 220, 220, 0.201);
    
}


.project-container11{
    /* display: inline-block; */
    
    /* border: 1px solid black; */
    border-radius: 20px;
width: 250px;
    /* display: block;
    max-width: 100%;
    margin: 0 auto; */
    margin: auto;
  

}

.project-img-div
{
    /* margin-top: 10px; */

}

.project-img-div img{
    border-radius: 10px;
    max-width: 100%;
    height:auto;
}
.project-h1{
    font-size: 20px;
    margin-top: 15px;
    color: rgba(34, 33, 33, 0.651);
}


.project-h2{
    font-size: 22px;
    margin-top: 15px;
    color: rgba(34, 33, 33, 0.651);
}
.project-btn-container{
    /* border: 1px solid black; */
    
    display:flex;
    gap: 10px;
    justify-content:center;
    /* margin: 10px 80px; */
    margin-top: 10px;

}

.project-btn{
/* border: 1px solid black; */
border: 1px solid rgba(0, 0, 0, 0.108);
color: rgba(34, 33, 33, 0.651);
font-size: 20px;
padding: 10px 20px ;
width: 50%;
border-radius: 80px;
background-color: white;

}

.project-btn:hover{
/* color:rgba(34, 33, 33, 0.651); */

    background-color:rgba(34, 33, 33, 0.651);
    color: white;
    transition: all 0.5s;

}

@media(max-width:380px){

    .project-container11{
       
    width: 200px;
       
      
    
    }  

}

@media(max-width:320px){

    .project-container11{
       
    width: 180px;
       
      
    
    }  

}